<ion-content [fullscreen]="true">
  <div class="header-curved">
    <div class="avatar-container">
      <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
    </div>
    <h2 class="profile-name">Cesla</h2>
  </div>

  <ion-list class="menu-list">
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Minha Conta</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="bulb-outline"></ion-icon>
      <ion-label>Projetos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>Estatisticas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
