<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="dashboard" routerLink="/menu/dashboard">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new" class="hidden-tab">
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="config" routerLink="/menu/config">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div class="floating-button-container">
  <ion-button class="floating-button">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</div>
